In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import csv
import glob, os

# fire_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/fire.csv',index_col=0)
# water_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/water.csv',index_col=0)
# house_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/cleaned_House.csv',index_col=0)
# air_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/air.csv',index_col=0)
# gas_data = pd.read_excel('/content/drive/MyDrive/DS560/Data/Clean_data/gas_data_cleaned.xlsx')
# oil_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/clean_oil_data.csv',index_col=0)
# covid_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/Covid_after_processing.csv',index_col=0)

In [ ]:
new_data = pd.read_csv('/content/drive/MyDrive/DS560/Data/Clean_data/fake_data1.csv')
new_data

,Price,Date,County,Ozone,PM2.5,Conductance,PH,oil_count,Gas_Well_Number,positive_tests,fire
0,3.166982e+05,2010-01,Los Angeles,0.024906,13.048837,484.000000,8.100000,7.000000,1.71246,0,17
1,2.832989e+05,2010-02,Los Angeles,0.032330,11.807599,487.333333,8.266667,7.000000,1.71246,0,16
2,2.900000e+05,2010-03,Los Angeles,0.043829,9.498854,518.333333,8.233333,7.000000,1.71246,0,17
3,2.897100e+05,2010-04,Los Angeles,0.046979,10.973611,497.666667,8.433333,7.000000,1.71246,0,15
4,2.974100e+05,2010-05,Los Angeles,0.046677,11.404237,498.000000,8.500000,7.000000,1.71246,0,17
...,...,...,...,...,...,...,...,...,...,...,...
1435,1.255000e+06,2021-08,Santa Cruz,0.030290,6.327419,2340.842813,8.055819,6.876457,1.71246,2216,0
1436,1.190000e+06,2021-09,Santa Cruz,0.035233,7.087931,2340.842813,8.055819,6.876457,1.71246,1281,0
1437,1.136000e+06,2021-10,Santa Cruz,0.036774,3.000000,2340.842813,8.055819,6.876457,1.71246,908,0
1438,1.260000e+06,2021-11,Santa Cruz,0.029233,6.962069,2340.842813,8.055819,6.876457,1.71246,1302,0
1439,1.200450e+06,2021-12,Santa Cruz,0.031379,5.288889,2340.842813,8.055819,6.876457,1.71246,3191,0

In [ ]:
import numpy as np
new_data['Price'] = np.log10(new_data['Price'])

In [ ]:
new_data

,Price,Date,County,Ozone,PM2.5,Conductance,PH,oil_count,Gas_Well_Number,positive_tests,fire
0,5.500646,2010-01,Los Angeles,0.024906,13.048837,484.000000,8.100000,7.000000,1.71246,0,17
1,5.452245,2010-02,Los Angeles,0.032330,11.807599,487.333333,8.266667,7.000000,1.71246,0,16
2,5.462398,2010-03,Los Angeles,0.043829,9.498854,518.333333,8.233333,7.000000,1.71246,0,17
3,5.461963,2010-04,Los Angeles,0.046979,10.973611,497.666667,8.433333,7.000000,1.71246,0,15
4,5.473356,2010-05,Los Angeles,0.046677,11.404237,498.000000,8.500000,7.000000,1.71246,0,17
...,...,...,...,...,...,...,...,...,...,...,...
1435,6.098644,2021-08,Santa Cruz,0.030290,6.327419,2340.842813,8.055819,6.876457,1.71246,2216,0
1436,6.075547,2021-09,Santa Cruz,0.035233,7.087931,2340.842813,8.055819,6.876457,1.71246,1281,0
1437,6.055378,2021-10,Santa Cruz,0.036774,3.000000,2340.842813,8.055819,6.876457,1.71246,908,0
1438,6.100371,2021-11,Santa Cruz,0.029233,6.962069,2340.842813,8.055819,6.876457,1.71246,1302,0
1439,6.079344,2021-12,Santa Cruz,0.031379,5.288889,2340.842813,8.055819,6.876457,1.71246,3191,0

Train-test split

In [ ]:
# train: 2010-2020
# test: 2021
# pred: 2022 1-6

train_data = new_data[new_data['Date']<='2020-12']
test_data = new_data[new_data['Date']>'2020-12']
print(len(train_data), len(test_data))

1320 120

In [ ]:

train_data.head()

,Price,Date,County,Ozone,PM2.5,Conductance,PH,oil_count,Gas_Well_Number,positive_tests,fire
0,5.500646,2010-01,Los Angeles,0.024906,13.048837,484.000000,8.100000,7.0,1.71246,0,17
1,5.452245,2010-02,Los Angeles,0.032330,11.807599,487.333333,8.266667,7.0,1.71246,0,16
2,5.462398,2010-03,Los Angeles,0.043829,9.498854,518.333333,8.233333,7.0,1.71246,0,17
3,5.461963,2010-04,Los Angeles,0.046979,10.973611,497.666667,8.433333,7.0,1.71246,0,15
4,5.473356,2010-05,Los Angeles,0.046677,11.404237,498.000000,8.500000,7.0,1.71246,0,17

In [ ]:
y_train = train_data['Price']
X_train = train_data.drop(['Price','Date'], axis=1)
y_test = test_data['Price']
X_test = test_data.drop(['Price','Date'], axis=1)

In [ ]:

X_train.head()

,County,Ozone,PM2.5,Conductance,PH,oil_count,Gas_Well_Number,positive_tests,fire
0,Los Angeles,0.024906,13.048837,484.000000,8.100000,7.0,1.71246,0,17
1,Los Angeles,0.032330,11.807599,487.333333,8.266667,7.0,1.71246,0,16
2,Los Angeles,0.043829,9.498854,518.333333,8.233333,7.0,1.71246,0,17
3,Los Angeles,0.046979,10.973611,497.666667,8.433333,7.0,1.71246,0,15
4,Los Angeles,0.046677,11.404237,498.000000,8.500000,7.0,1.71246,0,17

In [ ]:
# onehot encoder
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
county = list(set(new_data['County']))
#enc = OneHotEncoder(handle_unknown='ignore')
#enc_county = pd.DataFrame(enc.fit_transform(county[['County']]).toarray())

In [ ]:
le = LabelEncoder()
le.fit(county)
enc_train_county = le.transform(X_train['County'])
enc_test_county = le.transform(X_test['County'])
# le.inverse_transform([0, 0, 1, 2])

In [ ]:
print(len(enc_train_county), len(enc_test_county))

1320 120

In [ ]:
X_train['enc_county'] = enc_train_county
X_test['enc_county'] = enc_test_county

In [ ]:
X_train = X_train.drop(['County'], axis=1)
X_test = X_test.drop(['County'], axis=1)

In [ ]:
X_train.to_csv('/content/drive/MyDrive/DS560/Data/Clean_data/X_train1.csv')
X_test.to_csv('/content/drive/MyDrive/DS560/Data/Clean_data/X_test1.csv')
y_train.to_csv('/content/drive/MyDrive/DS560/Data/Clean_data/y_train1.csv')
y_test.to_csv('/content/drive/MyDrive/DS560/Data/Clean_data/y_test1.csv')